.header {
    display: grid;
    grid-template-columns: 440px 0.75fr 0.64fr 1.17fr;
    margin-top: 94px;
    margin-left: 24px;
}

.header__menu {
    align-content: center;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1%;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__links-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.header__links-list-item {
    display: list-item;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    border-bottom: 0;
}

.header__logo {
    justify-self: center;
    grid-column: 2/3;

}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
    background-image: url('../images/logo-black.svg');
    background-repeat: no-repeat;
    }

.address {
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    grid-column: 4/5;
    align-content: center;
    justify-self: start;
    line-height: 24.3px;
    letter-spacing: -0.8px;

}

.address a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.cover {
    background-image: url(../images/cover.jpg);
    margin-top: 93px;
    padding-bottom: 50px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover-title {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1em;
    z-index: 1;
    color: white;
    display: grid;
    grid-template-rows: 135px 75px 75px 80px 10px;
    gap: 50px 3px;
    grid-template-columns: 50px 300px 50px 222px 75px 400px;

}

.aligned_text {
    z-index: 1;
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_center {
    display: block;
    position: relative;
    grid-row: 3/4;
    grid-column: 3/6;
    justify-self: center;
    align-self: center;

    
}

.aligned-text_right {
    display: block;
    text-align: right;
    position: relative;
    grid-row: 4/5;
    grid-column: 5/7;
    justify-self: start;
    align-self: center;
}

.cover_description {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    margin-left: 79px;
    justify-content: start;
}

.cover_description-text {
    text-transform: uppercase;
    z-index: 1;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 0.815em;
    height: 100%;
    color: white;
}

.bet-button {
    background-color: transparent;
    border: white solid 1px;
    min-width: 256px;
    min-height: 51px;
    text-transform: uppercase;
    font-size: 22px;
    z-index: 1;
    position: relative;
    color: white;
    font-family: Raleway, sans-serif;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 64px;
    letter-spacing: 0;
    font-weight: bold;
}

.lots__card-list {
    display: flex;
    list-style-type: none;
    margin-top: 27px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 51px;

  
}

.card__text {
    color: #fff;
    position: relative;
    line-height: 120%;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;

}

.card__title span {
    border-bottom: 1px solid #fff;
}

.card__text span {
    letter-spacing: 0.13em;
}

.lots__look-more-link {
    text-decoration: none;
    display: inline-block;
    margin-left: 64px;
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 1px solid #000000; 
}

.about { 
    margin-left: 24px;
    margin-right: 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 180px 250px 400px;
    column-gap: 25px;
}
.about__logo {
    background-color: #000000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    justify-self: center;
    align-self: center  ;
    grid-row: 2/3;
}

.about__logo-image {
    background-image: url(../images/logo-white.svg);
    background-position: center;
    background-size: 62%;
    background-repeat: no-repeat;
    height: 100%;
}

.about__text {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 20px;
    line-height: 24px;
    justify-self: start;
    gap: 25px;
    letter-spacing: 0.1px;
}
.about__text span {
    letter-spacing: 0px;
}
.no_gap {
    gap: 0;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 95px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 88px;
}

.footer address {
    grid-column: 1/2;
}

.footer__menu {
    justify-self: center;
    text-align: center;
    list-style-type: none;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.footer__menu-list-item {
    list-style-type: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    grid-column: 3/4;
    display: flex;
    justify-self: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
    height: 100%;
    width: 100%;
}
.footer__social-icon {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
}
